<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
		<style>
		body {
    background-color: #eeeeee
}

.footer-background {
    background-color: rgb(204, 199, 199)
}

@media(max-width:991px) {
    #heading {
        padding-left: 50px
    }

    #prc {
        margin-left: 70px;
        padding-left: 110px
    }

    #quantity {
        padding-left: 48px
    }

    #produc {
        padding-left: 40px
    }

    #total {
        padding-left: 54px
    }
}

@media(max-width:767px) {
    .mobile {
        font-size: 10px
    }

    h5 {
        font-size: 14px
    }

    h6 {
        font-size: 9px
    }

    #mobile-font {
        font-size: 11px
    }

    #prc {
        font-weight: 700;
        margin-left: -45px;
        padding-left: 105px
    }

    #quantity {
        font-weight: 700;
        padding-left: 6px
    }

    #produc {
        font-weight: 700;
        padding-left: 0px
    }

    #total {
        font-weight: 700;
        padding-left: 9px
    }

    #image {
        width: 60px;
        height: 60px
    }

    .col {
        width: 100%
    }

    #zero-pad {
        padding: 2%;
        margin-left: 10px
    }

    #footer-font {
        font-size: 12px
    }

    #heading {
        padding-top: 15px
    }
}
		</style>
		       <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  
  
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/groceryshop">Grocery Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                       <li class="nav-item"><a class="nav-link active" aria-current="page" href="/groceryshop">Home</a></li>
                     <!--   <li class="nav-item"><a class="nav-link" href="/productsbycategory/2">Packaged Food</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/3">Household Care</a></li>
               
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/6">Personal and Beauty</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/4">Dairy Products</a></li> -->
                     
                       <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Staples</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/5">Rice,Dals & Atta</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/6">Oil,Ghee & Masalas</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/7">Suger,salt & Pickels</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Snacks & Breverages</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/8">Biscuits & Chips</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/9">Tea & Coffee</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/10">Juice & Cold Drinks</a></li>

                            </ul>
                        </li>

							<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Personal & Baby Care</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/11">Baby food</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/12">Soaps & Body wash</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/13">Daipers & Wipes</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dairy & Eggs</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/14">Dairy</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/15">Eggs </a></li>
                                

                            </ul>
                        </li>
                        
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/orders">Orders</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                           </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="/cartproducts" class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span id="cart" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1>Your Cart Items</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Best Grocery Products</p>
                </div>
            </div>
        </header>
        <!-- Product section-->
        <section class="py-5">
           <div class="container bg-white rounded-top mt-5" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div id="cart-div" class="col-lg-10 col-12 pt-3">
            <div class="d-flex">
                <div class="pt-1">
                    <h4>Cart Items</h4>
                </div>
            <!--    <div class="ml-auto p-2"><a href="#" class="text-dark text-decoration-none" id="mobile-font">LOGIN</a></div>
                <div class="p-2"><a href="#" class="text-dark text-decoration-none a" id="mobile-font">HELP</a></div>
                 --> 
            </div>
            
            <div class="d-flex flex-column pt-4">
                <div>
                    <h5 id="heading" class="text-uppercase font-weight-normal">shopping bag</h5>
                </div>
               
            </div>
            <Strong>
            <div class="d-flex flex-row px-lg-5 mx-lg-5 mobile" id="heading">
                <div class="px-lg-5 mr-lg-5" id="produc">PRODUCTS</div>
                <div class="px-lg-5 ml-lg-5" id="prc">PRICE</div>
                <div class="px-lg-5 ml-lg-1" id="quantity">QUANTITY</div>
                <div class="px-lg-5 ml-lg-3" id="total">TOTAL</div>
            </div>
             </Strong>
        </div>
    </div>
</div>
<div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div> <a href="/groceryshop" class="btn btn-sm bg-light border border-dark">GO BACK</a> </div>
                <div class="px-md-0 px-1" id="footer-font"> <b class="pl-md-4">&nbsp;&nbsp;<span class="pl-md-4" id="subtotal"></span></b> </div>
                <div> <a href="/placeorder" class="btn btn-sm bg-dark text-white px-lg-5 px-3">PLACE ORDER</a> </div>
            </div>
        </div>
    </div>
</div>
        </section>
        <!-- Related items section-->
       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Vrushali Kadam  Batch-6522 EBENO1221510552</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       
        
 <script>

  if(localStorage.length>1)
  {
  
  for(var i in localStorage)
  {
  if(i!="lastindex")
  {
  var product=JSON.parse(localStorage.getItem(i));
  
  $("#cart-div").append('<div class="d-flex flex-row justify-content-between align-items-center pt-4 pb-3 mobile">\
                <div class="d-flex flex-row align-items-center">\
                    <div><img src="'+product.productImage+'" width="100" height="130" alt="" id="image"></div> \
                    <div class="d-flex flex-column pl-md-3 pl-1">\
                        <div>\
                            <h6>'+product.productName+'</h6>\
                        </div>\
                        <!-- <div>Product Info:<span class="pl-2">'+product.productInfo+'</span></div>-->\
                        <div>Category:<span class="pl-3">'+product.categoryName+'</span></div>\
                        <div>Size:<span class="pl-4"> XL</span></div>\
                    </div>\
                </div>\
                <div class="pl-md-0 pl-1"><b>'+product.productPrice+'</b></div>\
                <div class="pl-md-0 pl-2"> <span class="fa fa-minus-square text-secondary"></span><span class="px-md-3 px-1">'+product.productQuantity+'</span><span class="fa fa-plus-square text-secondary"></span> </div>\
                <div class="pl-md-0 pl-1"><b>'+parseFloat(product.productPrice) * parseInt(product.productQuantity)+'</b></div>\
                <div class="close" onclick="removeproduct('+i+')">&times;</div>\
            </div>');
  
  }
  }
  alert(subTotal);
  $("#subtotal").text(subTotal);
  }
  else
  {
  
   $("#heading").text("Your cart is empty!!");
  
  }
  
  
  function removeproduct(index)
  {
    
 
    localStorage.removeItem(index);
    var lastindex=parseInt(localStorage.getItem("lastindex"));
    lastindex=lastindex-1;
    localStorage.setItem("lastindex",lastindex);
    window.location.href ="/cartproducts";
  
  }
  
  
  </script>
    <script type="text/javascript">
        if(localStorage.length>=2)
        {
         
          $("#cart").text(parseInt(localStorage.length)-1);
        }
        
        
        </script>
    </body>
</html>
