<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>  
        <script>
       
        
        if(!sessionStorage.getItem("login-status"))
        {
           alert('Please login to continue!!');       
           window.location.href="/customer-login"; 
        }
        
             
        </script>
 <script>
 
  
  function loadFormData()
  {
   $("#customerName").val(sessionStorage.getItem("customerName"));
   $("#customerEmail").val(sessionStorage.getItem("customerEmail"));
   $("#customerAddress").val(sessionStorage.getItem("customerAddress"));
    $("#customerPhone").val(sessionStorage.getItem("customerPhone"));
  }
  
 
  function placeorder()
  {
  addOrder();

  }
 
  
  </script>
    </head>
    <body onload="loadFormData()">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/groceryshop">Grocery Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                         <li class="nav-item"><a class="nav-link active" aria-current="page" href="/groceryshop">Home</a></li>
                     <!--   <li class="nav-item"><a class="nav-link" href="/productsbycategory/2">Packaged Food</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/3">Household Care</a></li>
               
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/6">Personal and Beauty</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/4">Dairy Products</a></li> -->
                     
                       <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Staples</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/5">Rice,Dals & Atta</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/6">Oil,Ghee & Masalas</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/7">Suger,salt & Pickels</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Snacks & Breverages</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/8">Biscuits & Chips</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/9">Tea & Coffee</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/10">Juice & Cold Drinks</a></li>

                            </ul>
                        </li>

							<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Personal & Baby Care</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/11">Baby food</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/12">Soaps & Body wash</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/13">Daipers & Wipes</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dairy & Eggs</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/14">Dairy</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/15">Eggs </a></li>
                                

                            </ul>
                        </li>
                        
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/orders">Orders</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                           </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="/cartproducts" class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span id="cart" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1>Grocery Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Best Grocery Products</p>
                </div>
            </div>
        </header>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
            <div class="container">
      <div class="py-5 text-center">
       <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> --> 
        <h2>Checkout form</h2>
      <!--   <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3" id="cart-item">
            
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success" id="discount">0&#8377;</span>
            </li>
            <li class="list-group-item d-flex justify-content-between" >
              <span>Total (&#8377;)</span>
              <p id="subTotal">0</p>
            </li>
          </ul>

          
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
         
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          
            <div class="row">
              <div class="mb-3">
                <label for="firstName">Name</label>
                <input type="text" class="form-control" id="customerName" placeholder="" value="" required readonly>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              


            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="customerEmail" placeholder="you@example.com" readonly>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

			<div class="mb-3">
              <label for="customerPhone">Contact Number <span class="text-muted"></span></label>
              <input type="number" class="form-control" id="customerPhone" placeholder="" readonly>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="mb-3">
              <label for="address">Address</label>
              <textarea class="form-control" id="customerAddress" placeholder="Please enter your shipping address." required></textarea>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
           <div class="mb-3">
              <label for="email">Payment Amount <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="paymentAmount" placeholder="0.0" readonly>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
           

        
           
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>
                
          
              <div class="custom-control custom-radio">
                <input  name="paymentMethod" id="debit-card" type="radio" class="custom-control-input"  onchange="displayform()" value="Debit-card" checked required>
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input  name="paymentMethod" id="cash-on-delivery" type="radio" onchange="hideform()" class="custom-control-input"  value="cash-on-delivery"  required>
                <label class="custom-control-label" for="paypal">Cash on Delivery</label>
              </div>
            </div>
            <div class="row" id="cc1">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row" id="cc2">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="placeorder()">Place Order</button>
        
        </div>
      </div>

    
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  
            </div>
        </section>
     
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Vrushali Kadam  Batch-6522 EBENO1221510552</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
  <script type="text/javascript">

        if(localStorage.length>=2)
        {
         
          $("#cart").text(parseInt(localStorage.lastindex));
        }
        
         function hideform()
        {
        
        $('input[id="cash-on-delivery"]:checked')
        {
        
        $("#cc1").css("display","none");
        $("#cc2").css("display","none");
        }
        }
        
         function displayform()
        {
        
        $('input[id="debit-card"]:checked')
        {
        
        $("#cc1").css("display","");
        $("#cc2").css("display","");
        }
        }
        
                
 var subTotal=0,productPrice=0.0,productQuantity=0;    
 if(localStorage.length>1)
  {
  
  for(var i in localStorage)
  {
  if(i!="lastindex")
  {

  var product=JSON.parse(localStorage.getItem(i));
  subTotal=subTotal+parseFloat(product.productPrice) * parseInt(product.productQuantity);
  sessionStorage.setItem("subTotal",subTotal);
  $("#cart-item").prepend('<li class="list-group-item d-flex justify-content-between lh-condensed">\
              <div>\
              <img height="30px" width="30px" src="'+product.productImage+'">\
                <h6 class="my-0">'+product.productName+'</h6>\
                <small class="text-muted">Quantity : '+product.productQuantity+'</small>\
              </div>\
              <span class="text-muted">Price:&nbsp; &#8377;'+parseFloat(product.productPrice) * parseInt(product.productQuantity)+'</span>\
            </li>');
  
 }
  
  }

  
  }
 
    
 
        </script>
        
        <script>
          $("#subTotal").text(sessionStorage.subTotal);   
          $("#paymentAmount").val(sessionStorage.subTotal); 
        </script>
    </body>
</html>
