<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>  
  <script>
     
  var data;
   function login()
  {
   var email=$("#email").val();
   var password=$("#password").val();
   
    $.get('http://localhost:9090/api/grocery/v1/getcustomerbyemail?email='+email, 
    function(data){
    console.log(data);
      if(data.customerPassword==password)
      {
       
       alert('login is successfull!!');
       sessionStorage.setItem("login-status","success");
       sessionStorage.setItem("customerId",data.customerId);
       sessionStorage.setItem("customerEmail",data.customerEmail);
       sessionStorage.setItem("customerName",data.customerName);
       sessionStorage.setItem("customerAddress",data.customerAddress);
       sessionStorage.setItem("customerPhone",data.customerPhone);
       location.href="/placeorder";	
      }
      else
      {
      alert('Incorrect id or password!!');
      
      }
    });
			
		

   }  
   
  
  
  
  </script>
        
        
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/groceryshop">Grocery Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/groceryshop">Home</a></li>
                     <!--   <li class="nav-item"><a class="nav-link" href="/productsbycategory/2">Packaged Food</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/3">Household Care</a></li>
               
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/6">Personal and Beauty</a></li>
                        <li class="nav-item"><a class="nav-link" href="/productsbycategory/4">Dairy Products</a></li> -->
                     
                       <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Staples</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/5">Rice,Dals & Atta</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/6">Oil,Ghee & Masalas</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/7">Suger,salt & Pickels</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Snacks & Breverages</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/8">Biscuits & Chips</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/9">Tea & Coffee</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/10">Juice & Cold Drinks</a></li>

                            </ul>
                        </li>

							<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Personal & Baby Care</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/11">Baby food</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/12">Soaps & Body wash</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/13">Daipers & Wipes</a></li>

                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dairy & Eggs</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <!-- <li><a class="dropdown-item" href="#!">Staples</a></li> -->
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/productsbycategory/14">Dairy</a></li>
                                <li><a class="dropdown-item" href="/productsbycategory/15">Eggs </a></li>
                                

                            </ul>
                        </li>
                        
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/orders">Orders</a></li>
                                <li><a class="dropdown-item" href="/logout" onclick="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="/cartproducts" class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span id="cart" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1>Customer Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Please login to continue</p>
                </div>
            </div>
        </header>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
            <div class="container">
      <div class="py-5 text-center">
       <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> --> 
        <h2>Please login to continue</h2>
        <p class="lead">Please signup to buy grocery products online at an affordable cost at your doorsetp. </p>
      </div>

      <div class="row">
        
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Customer Details</h4>
         
            <div class="row">
 <form action="#" onsubmit="login()">

            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

          

            <div class="mb-3">
              <label for="address2">Password <span class="text-muted"></span></label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>

            
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit" >Login</button>
        </form>
          <span>Don't have account? <a href="/customer-register">Register</a> here. </span>
          
        </div>
      </div>

    
    </div>

  
            </div>
        </section>
     
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Vrushali Kadam  Batch-6522 EBENO1221510552 </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
   <script type="text/javascript">
        if(localStorage.length>=2)
        {
         
          $("#cart").text(parseInt(localStorage.lastindex));
        }
        
        
 
        
        </script>
    </body>
</html>
